@tailwind base;
@tailwind components;
@tailwind utilities;

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root span:hover{
    color: black !important;
}

  * {
    scrollbar-width: auto;
    scrollbar-color:  #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7bcdd8 ;
    border-radius: 4px;
    border: 1px solid #ffffff;
  }